
.navbar{
 padding: 2rem 0;
 height: 80px;
 position: sticky;
 top: 0;
 background-color: white;
 z-index: 1;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.navbar-brand {
    display: flex;
 }
.navbar-logo img{
    height: 30px;  
}

.navbar-left{
    display: flex;
    flex: 1;  
}
.navbar-right{
    display: flex;  
}

.navbar-left a{
    color: var(--primary-blue);
    cursor: pointer;
    text-decoration: none;
    padding: 0 30px;
    font-size: 1.3rem;
}
.navbar-left a:hover{
   opacity: 0.7;
}

.sign-up-btn, .sign-in-btn{
    padding: 0 1rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    /* height: 40px; */
}

.sign-up-btn{
    background: transparent;
    color: var(--primary-grey);
}

.sign-in-btn{
   background: var(--secondary-blue);
   color: var(--primary-white);
   border-radius: 4px;
}
.sign-in-btn:hover{
    background-color: var(--primary-blue);
}
.burger{
    display: none;
}
.burger .line1{
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: black;
}
.burger .line2{
    width: 25px;
    height: 3px;
    margin-left: 10px;
    background-color: black;
}
.burger .line3{
    width: 20px;
    height: 3px;
    margin: 5px 15px;
    background-color: black;
}

@media screen and (max-width:768px){
  
    .navbar-logo img {
       content: url(../Assets/mobilelogo.svg);
        background-repeat: no-repeat;
    }
     .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0);
}