
header{
 padding: 1rem 0;
 background-color: transparent;
 position: relative;
 z-index: 2;
} 
div{
    display: block;
}

 .navbar-brand {
    display: flex;
 }

.navbar-middle {

}

.navbar-logo img{
    height: 30px; 
    align-items: center;
    margin-right: 30px;
}
.navbar-right{
    position: fixed;
    z-index: 15;
    top: 0.9rem;
    right: 2rem;
}
.navbar ul{
  display: flex;
}

.navbar li{
    list-style: none;

}
a{
    text-decoration: none;
}
.navbar a{
    color: var(--primary-blue);
    cursor: pointer;
    text-decoration: none;
    padding: 0 30px;
    font-size: 1.3rem;
}

.sign-up-btn, .sign-in-btn{
    padding: .5rem 1.2rem;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    /* height: 40px; */
} 
.sign-up-btn{
    background: transparent;
    color: var(--primary-grey);
}
.sign-in-btn{
   background: var(--secondary-blue);
   color: var(--primary-white);
   border-radius: 4px;
}
 .sign-in-btn:hover{
    background-color: var(--primary-blue);
} 
.burger{
    display: none;
} 

.navbar-left a{
    color: var(--primary-blue);
    cursor: pointer;
    text-decoration: none;
    padding: 0 30px;
    font-size: 1.3rem;
}

.burger .line1{
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: black;
}
.burger .line2{
    width: 25px;
    height: 3px;
    margin-left: 10px;
    background-color: black;
}
.burger .line3{
    width: 20px;
    height: 3px;
    margin: 5px 15px;
    background-color: black;
}

@media screen and (max-width:1150px){
  
    .navbar-logo img {
       content: url(../Assets/mobilelogo.svg);
        background-repeat: no-repeat;
    }
     .burger{
        display: block;
    }
}

@media screen and (max-width:1100px){
  
    .navbar-logo img {
       content: url(../Assets/mobilelogo.svg);
        background-repeat: no-repeat;
    }
     .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0);
}