.form-text > p:last-of-type{
    font-size: 14px;
}

.form-sub-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.form-sub-text{
    text-align: center;
    margin-left: 1.7rem;
}

.form-sub-text-container > .pencil-icon{
    margin-left: .8rem;
}

.form-sub-text > P{
    margin: 0;
}

.form-sub-text > p:first-of-type{
    font-size: 19px;
}

.form-sub-text > p:last-of-type{
    font-size: 12px;
    font-weight: 100;
    color: #7A869A;
}

.form-input{
    width: 100%;
    position: relative;
}

.form-input > #loginPass{
    width: 100%;
    padding: .7rem;
    border: 1px solid #DFE1E6;
    border-radius: 4px;
    outline-color: #4C9AFF;
}

.form-input > #loginPass::placeholder{
    font-weight: bold;
    font-size: .8rem;
    color: var(--placeholder-grey);
}

.watchIcon{
    position: absolute;
    right: 1.3rem;
    top: 2.7rem;
}

.login-pass .loadingDiv{
    background: var(--secondary-blue);
}