.form-text{
    text-align: center;
}

.form-text > p:first-of-type{
    color: var(--primary-blue);
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: 1.3rem;
}

.form-text > p:last-of-type{
    color: var(--login-grey);
    font-weight: 200;
    font-size: .8rem;
    margin: 0;
    margin-bottom: 3rem;
}

.form-input{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2.5rem;
}

.form-input > label{
    margin-bottom: 1rem;
    color: var(--primary-blue);
}

.form-input > #email{
    width: 100%;
    padding: .7rem;
    border: 1px solid #DFE1E6;
    border-radius: 4px;
    outline-color: #4C9AFF;
}

.form-input > #email::placeholder{
    font-weight: bold;
    font-size: .8rem;
    color: var(--placeholder-grey);
}

.loadingDiv button{
    width:100%;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    background: var(--secondary-blue);
}

hr{
    border: 1px solid #DFE1E6;
}
