:root{
    /*COLOUR VARIABLES*/
    --primary-white: #FFFFFF;
    --secondary-blue: #0052CC;
    --primary-grey: #A5ADBA;
    --primary-blue: #091E42;
    --primary-blue-light: #344563;
    --grey-background: #F4F5F7;
    --secondary-grey: #5E6C84;
    --secondary-white: #FAFBFC;
}
